<% content_for :title, 'Guided Setup: Step 3 of 3' %>

<section class="setup__step">

  <%= image_tag 'logo_tiny.png' %>

  <div class="setup__ballon">
    <h2>Last step! Do you want to upload the output of a security scanner?</h2>

    <p>The next step is to select the tool name and pick the file.</p>

    <div class="setup__buttons">
      <%= link_to 'Yes I do', '', class: 'btn btn-large' %>
      <%= link_to 'Not now', setup_complete_path(show_completed: true),  class: 'btn btn-large btn-primary' %>
    </div>
  </div>
</section>